.test-border {
    border: 2px solid black;
}


.container-fluid {
    background-color: CadetBlue;
    color: white;
    padding-top: 10px;
}

.firebrick-color, span {
    color: FireBrick;
}

nav {
    padding-left: 40px;
    text-align: center;
    a {
        color: white;
        margin-right: 40px;
        font-size: 18px;
        font-weight: bold;
    }

    a:hover {
        color: yellow;
        text-decoration: none;
    }
}


// section left-content
.resize-img {
    padding-left: 100px;
    padding-right: 100px;
}


#responsive-img {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
}


@media (max-width: 767px) {
    .header-top, .right-section-content {
        text-align: center;
    }


    nav {
        margin-top: 50px;
        padding-left: 50px;
    }

    .firebrick-color {
        padding: 20px 15px 20px 0px;
    }

    .mob-center {
        padding-right: 16px;
    }

}


// section right content

.top-space {
    padding-top: 20px;
}


.bold-text {
    font-weight: bold;
    font-size: 50px;
}

.normal-text {
    font-size: 30px;
    font-style: italic;
    border-bottom: 2px solid black;
}

.make-bold {
    font-weight: bold;
    font-size: 15px;
}


%style-background {
    margin-top: 20px;
    text-align: center;

    a {
        color: black;
        font-size: 14px;
    }

    a:hover {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}


.light-red {
    @extend %style-background;
    background-color: #DC143C;
}

.light-blue {
    @extend %style-background;
    background-color: #00CED1;
}

.light-yellow {
    @extend %style-background;
    background-color: #9ACD32;
}


